/* code that is here, until the first @media block, will apply to any screen size */
body {
  overflow-x: hidden; }

.non-margin {
  margin: 0 !important; }

.introduction-page {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0; }

.col {
  padding: 0 !important; }

.intro-providing-text {
  text-align: center;
  font-weight: bold; }

.intro-fast-text {
  text-align: center;
  font-weight: bold;
  color: grey; }

.dropdown-content {
  background-color: #1a237e !important; }
  .dropdown-content a {
    color: white !important; }

@media screen and (max-width: 320px) {
  /* comes into effect for screens less than or equal to 320 pixels */
  .intro-image {
    width: 13vw;
    padding-top: 10px; }
  .introduction-page {
    height: 585px; }
  .header-text {
    font-size: 3.5vw; }
  .intro-providing-text {
    font-size: 6vw; }
  .dropdown-icon {
    position: absolute;
    bottom: 0;
    font-size: 5vw; }
  .intro-fast-text {
    font-size: 4.5vw; } }

@media screen and (min-width: 321px) and (max-width: 480px) {
  /* comes into effect for screens between 321 and 480 pixels (inclusive) */
  .intro-image {
    width: 13vw; }
  .introduction-page {
    height: 667px; }
  .header-text {
    font-size: 3.5vw; }
  .intro-providing-text {
    font-size: 6vw; }
  .dropdown-icon {
    position: absolute;
    bottom: 0;
    font-size: 5vw; }
  .intro-fast-text {
    font-size: 4.5vw; } }

@media screen and (min-width: 481px) {
  /* comes into effect for screens larger than or equal to 481 pixels */
  .intro-image {
    width: 7vw; }
  .introduction-page {
    height: 985px; }
  .header-text {
    font-size: 2.5vw; }
  .intro-providing-text {
    font-size: 4.5vw; }
  .dropdown-icon {
    position: absolute;
    bottom: 0;
    font-size: 3.5vw; }
  .intro-fast-text {
    font-size: 2vw; } }

/* code that is here will apply to any screen size */
.customer-page {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  overflow-x: hidden; }

.customer-acquire {
  font-weight: bold; }

.customer-reach {
  color: grey; }

@media screen and (max-width: 320px) {
  .customer-page {
    height: 585px; }
  .customer-text-container {
    padding: 5%; }
  .customer-reach {
    font-size: 4vw;
    text-align: center; }
  .customer-acquire {
    font-size: 8vw;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    margin-left: 0px;
    text-align: center; }
  .customer-check i {
    font-size: 20px; }
  div {
    font-weight: bold;
    margin-left: 3vw;
    font-size: 3.5vw; } }

@media screen and (min-width: 321px) and (max-width: 480px) {
  .customer-page {
    height: 667px; }
  .customer-text-container {
    padding: 5%; }
  .customer-reach {
    font-size: 5vw;
    width: 400px;
    text-align: left; }
  .customer-acquire {
    font-size: 8vw;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
    margin-left: 0px;
    text-align: left; }
  .customer-check i {
    font-size: 25px; }
  div {
    font-weight: bold;
    margin-left: 3vw;
    font-size: 4vw; } }

@media screen and (max-width: 700px) {
  .order-online-image {
    display: none; } }

@media screen and (min-width: 701px) {
  .customer-acquire {
    font-size: 5vw;
    text-align: center; }
  .customer-page {
    height: 985px; }
  .customer-reach {
    font-size: 2vw;
    text-align: center; }
  .customer-text-container {
    padding: 10%; }
  .customer-check i {
    font-size: 3.5vw; }
  .customer-check div {
    margin-left: 3vw;
    font-size: 2vw; }
  .order-online-image {
    width: 550px;
    top: 425px;
    right: 150px;
    position: absolute; } }

/* code that is here will apply to any screen size */
.loyalty-page {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  opacity: 0.8;
  overflow-x: hidden; }

.loyalty-text {
  text-align: center;
  margin-bottom: 0; }

.loyalty-reach {
  color: grey;
  text-align: center; }

@media screen and (max-width: 320px) {
  .loyalty-image {
    display: none; }
  .loyalty-page {
    height: 585px; }
  .loyalty-text-container {
    padding: 5%; }
  .loyalty-reach {
    font-size: 4vw;
    width: 200px; }
  .loyalty-text {
    font-size: 8vw;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px; }
  .customer-check i {
    font-size: 20px; }
  div {
    font-weight: bold;
    margin-left: 3vw;
    font-size: 3.5vw; } }

@media screen and (min-width: 321px) and (max-width: 600px) {
  .loyalty-image {
    display: none; }
  .loyalty-page {
    height: 667px; }
  .loyalty-text-container {
    padding: 5%; }
  .loyalty-reach {
    font-size: 5vw;
    width: 300px; }
  .loyalty-text {
    font-size: 8vw;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    margin-left: 0px; }
  .customer-check i {
    font-size: 25px; }
  div {
    font-weight: bold;
    margin-left: 3vw;
    font-size: 4vw; } }

@media screen and (max-width: 600px) {
  .loyalty-image {
    display: none; } }

@media screen and (min-width: 601px) {
  .loyalty-text {
    font-size: 5vw; }
  .loyalty-page {
    height: 985px; }
  .loyalty-reach {
    font-size: 2vw; }
  .loyalty-text-container {
    padding: 10%; }
  .customer-check i {
    font-size: 3.5vw; }
  .customer-check div {
    margin-left: 3vw;
    font-size: 2vw; }
  .loyalty-image {
    position: absolute;
    height: 600px;
    bottom: 0; } }

/* code that is here will apply to any screen size */
.tracking-page {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  opacity: 0.8; }

.tracking-text {
  margin-bottom: 0; }

.tracking-reach {
  text-align: center;
  color: grey; }

@media screen and (max-width: 320px) {
  .tracking-page {
    height: 585px;
    opacity: 0.8; }
  .tracking-text-container {
    padding: 5%; }
  .tracking-reach {
    font-size: 4vw;
    width: 200px; }
  .tracking-text {
    font-size: 8vw;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 270px;
    margin-left: 0px;
    text-align: center; }
  .customer-check i {
    font-size: 20px; }
  div {
    font-weight: bold;
    margin-left: 3vw;
    font-size: 3.5vw; } }

@media screen and (min-width: 321px) and (max-width: 480px) {
  .tracking-page {
    background-color: #F5F5F5;
    height: 668px;
    opacity: 0.8; }
  .tracking-text-container {
    padding: 5%; }
  .tracking-text {
    font-size: 7.5vw;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
    margin-left: 0px;
    text-align: left; }
  .tracking-reach {
    font-size: 5vw;
    width: 300px; }
  .customer-check i {
    font-size: 25px; }
  div {
    font-weight: bold;
    margin-left: 3vw;
    font-size: 4vw; } }

@media screen and (max-width: 600px) {
  .tracking-page {
    background-color: #F5F5F5; }
  .tracking-text-container {
    padding: 5%; }
  .tracking-text {
    font-size: 7.5vw;
    text-align: center; }
  .tracking-reach {
    font-size: 5vw; } }

@media screen and (min-width: 601px) {
  .tracking-page {
    height: 980px; }
  .tracking-text-container {
    padding: 10%; }
  .tracking-text {
    font-size: 4.5vw;
    text-align: center; }
  .tracking-reach {
    font-size: 2vw; }
  .customer-check i {
    font-size: 3.5vw; }
  .customer-check div {
    margin-left: 3vw;
    font-size: 2vw; } }

/* code that is here will apply to any screen size */
.request-page {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  opacity: 0.8; }

.request-header {
  font-weight: bold;
  margin-bottom: 0; }

.request-text-container {
  padding: 5%; }

.request-form-container label {
  font-weight: 300;
  color: black; }

@media screen and (max-width: 320px) {
  .request-page {
    height: 585px; }
  .request-header {
    font-size: 7.5vw; }
  .request-form-container label {
    font-size: 5vw; } }

@media screen and (min-width: 321px) and (max-width: 480px) {
  .request-page {
    height: 667px; }
  .request-header {
    font-size: 7.5vw; }
  .request-form-container label {
    font-size: 5vw; } }

@media screen and (max-width: 600px) {
  .request-header {
    font-size: 7.5vw; }
  .request-form-container label {
    font-size: 5vw; } }

@media screen and (min-width: 600px) {
  .request-page {
    height: 980px; }
  .request-header {
    font-size: 4vw; }
  .request-form-container label {
    font-size: 3vw; } }

/* code that is here will apply to any screen size */

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJzdHlsZXMuY3NzIiwic291cmNlUm9vdCI6IiJ9*/