/* code that is here, until the first @media block, will apply to any screen size */
body {
  overflow-x: hidden; }

.non-margin {
  margin: 0 !important; }

.introduction-page {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0; }

.col {
  padding: 0 !important; }

.intro-providing-text {
  text-align: center;
  font-weight: bold; }

.intro-fast-text {
  text-align: center;
  font-weight: bold;
  color: grey; }

.dropdown-content {
  background-color: #1a237e !important; }
  .dropdown-content a {
    color: white !important; }

@media screen and (max-width: 320px) {
  .intro-image {
    width: 13vw;
    padding-top: 10px; }
  .introduction-page {
    height: 585px; }
  .header-text {
    font-size: 3.5vw; }
  .intro-providing-text {
    font-size: 6vw; }
  .dropdown-icon {
    position: absolute;
    bottom: 0;
    font-size: 5vw; }
  .intro-fast-text {
    font-size: 4.5vw; } }

@media screen and (min-width: 321px) and (max-width: 480px) {
  .intro-image {
    width: 13vw;
    padding-top: 10px; }
  .introduction-page {
    height: 667px; }
  .header-text {
    font-size: 3.5vw; }
  .intro-providing-text {
    font-size: 6vw; }
  .dropdown-icon {
    position: absolute;
    bottom: 0;
    font-size: 5vw; }
  .intro-fast-text {
    font-size: 4.5vw; } }

@media screen and (min-width: 568px) and (max-width: 768px) {
  .intro-image {
    width: 7vw;
    padding-top: 10px; }
  .introduction-page {
    height: 414px; }
  .header-text {
    font-size: 2.5vw; }
  .intro-providing-text {
    font-size: 4.25vw; }
  .intro-fast-text {
    font-size: 2.25vw; } }

@media screen and (min-width: 769px) and (max-width: 812px) {
  .intro-image {
    width: 7vw;
    padding-top: 10px; }
  .introduction-page {
    height: 414px; }
  .header-text {
    font-size: 2.5vw; }
  .intro-providing-text {
    font-size: 4.25vw; }
  .intro-fast-text {
    font-size: 2.25vw; } }

@media screen and (min-width: 813px) {
  .intro-image {
    width: 7vw;
    padding-top: 10px; }
  .introduction-page {
    height: 985px; }
  .header-text {
    font-size: 2.5vw; }
  .intro-providing-text {
    font-size: 4.25vw; }
  .dropdown-icon {
    position: absolute;
    bottom: 0;
    font-size: 3.5vw; }
  .intro-fast-text {
    font-size: 2.25vw; } }
.customer-page {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  margin: 0;
  overflow-x: hidden; }

.customer-reach {
  color: grey;
  font-weight: bold; }

.customer-acquire {
  font-weight: bold; }

@media screen and (max-width: 320px) {
  .order-online-image {
    display: none; }
  .customer-page {
    height: 585px; }
  .customer-text-container {
    padding: 5%; }
  .customer-reach {
    font-size: 4vw;
    text-align: center;
    font-weight: bold; }
  .customer-acquire {
    font-size: 8vw;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    margin-left: 0px;
    text-align: center;
    font-weight: bold; }
  .customer-check i {
    font-size: 20px; }
  .customer-check div {
    font-weight: bold;
    margin-left: 3vw;
    font-size: 3.5vw; } }

@media screen and (min-width: 321px) and (max-width: 480px) {
  .order-online-image {
    display: none; }
  .customer-page {
    height: 668px; }
  .customer-text-container {
    padding: 5%; }
  .customer-reach {
    font-size: 4vw;
    text-align: center;
    font-weight: bold; }
  .customer-acquire {
    font-size: 8vw;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 350px;
    margin-left: 0px;
    font-weight: bold; }
  .customer-check i {
    font-size: 5vw; }
  .customer-check div {
    font-weight: bold;
    margin-left: 3vw;
    font-size: 3.5vw; } }

@media screen and (min-width: 568px) and (max-width: 768px) {
  .order-online-image {
    display: none; }
  .customer-page {
    height: 435px; }
  .customer-text-container {
    padding: 5%; }
  .customer-reach {
    font-size: 2.25vw;
    text-align: left; }
  .customer-acquire {
    font-size: 4.25vw;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    text-align: left; }
  .customer-check i {
    font-size: 20px; }
  .customer-check div {
    font-weight: bold;
    margin-left: 3vw;
    font-size: 2.25vw; } }

@media screen and (min-width: 769px) and (max-width: 812px) {
  .order-online-image {
    display: none; }
  .customer-page {
    height: 475px; }
  .customer-text-container {
    padding: 5%; }
  .customer-reach {
    font-size: 2.25vw;
    text-align: left; }
  .customer-acquire {
    font-size: 4.25vw;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    text-align: left; }
  .customer-check i {
    font-size: 25px; }
  .customer-check div {
    font-weight: bold;
    margin-left: 3vw;
    font-size: 2.25vw; } }

@media screen and (min-width: 813px) {
  .order-online-image {
    width: 600px;
    top: 400px;
    right: 0;
    position: absolute; }
  .customer-page {
    height: 985px; }
  .customer-text-container {
    padding: 10%; }
  .customer-reach {
    font-size: 2vw;
    text-align: left; }
  .customer-acquire {
    font-size: 5vw;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    text-align: left; }
  .customer-check i {
    font-size: 3.25vw; }
  .customer-check div {
    font-weight: bold;
    margin-left: 3vw;
    font-size: 2vw; } }
.loyalty-page {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  opacity: 0.8;
  overflow-x: hidden; }

.loyalty-reach {
  color: grey;
  font-weight: bold; }

.loyalty-text {
  font-weight: bold; }

@media screen and (max-width: 320px) {
  .loyalty-image {
    display: none; }
  .loyalty-page {
    height: 585px; }
  .loyalty-text-container {
    padding: 5%; }
  .loyalty-reach {
    font-size: 4vw;
    text-align: center;
    font-weight: bold; }
  .loyalty-text {
    font-size: 8vw;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    margin-left: 0px;
    padding-right: 20px;
    text-align: center;
    font-weight: bold; }
  .customer-check i {
    font-size: 20px; }
  div {
    font-weight: bold;
    margin-left: 3vw;
    font-size: 3.5vw; } }

@media screen and (min-width: 321px) and (max-width: 600px) {
  .loyalty-image {
    display: none; }
  .loyalty-page {
    height: 668px; }
  .loyalty-text-container {
    padding: 5%; }
  .loyalty-reach {
    font-size: 4vw;
    text-align: center;
    font-weight: bold; }
  .loyalty-text {
    font-size: 8vw;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-weight: bold; }
  .customer-check i {
    font-size: 5vw; }
  .customer-check div {
    font-weight: bold;
    margin-left: 3vw;
    font-size: 3.5vw; } }

@media screen and (min-width: 568px) and (max-width: 768px) {
  .loyalty-image {
    display: none; }
  .loyalty-page {
    height: 445px; }
  .loyalty-text-container {
    padding: 5%; }
  .loyalty-reach {
    font-size: 2.25vw;
    width: 260px;
    text-align: left; }
  .loyalty-text {
    font-size: 4.25vw;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    text-align: left; }
  .customer-check i {
    font-size: 20px; }
  .customer-check div {
    font-weight: bold;
    margin-left: 3vw;
    font-size: 2.25vw; } }

@media screen and (min-width: 769px) and (max-width: 812px) {
  .loyalty-image {
    display: none; }
  .loyalty-page {
    height: 485px; }
  .loyalty-text-container {
    padding: 5%; }
  .loyalty-reach {
    font-size: 2.25vw;
    width: 300px;
    padding-right: 20px;
    text-align: left; }
  .loyalty-text {
    font-size: 4.25vw;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    text-align: left; }
  .customer-check i {
    font-size: 25px; }
  .customer-check div {
    font-weight: bold;
    margin-left: 3vw;
    font-size: 2.25vw; } }

@media screen and (min-width: 813px) {
  .loyalty-image {
    position: absolute;
    height: 600px;
    bottom: 0; }
  .loyalty-page {
    height: 985px; }
  .loyalty-text-container {
    padding: 10%; }
  .loyalty-reach {
    font-size: 2vw;
    text-align: left; }
  .loyalty-text {
    font-size: 5vw;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    text-align: left; }
  .customer-check i {
    font-size: 3.25vw; }
  .customer-check div {
    font-weight: bold;
    margin-left: 3vw;
    font-size: 2vw; } }

/* code that is here will apply to any screen size */
.tracking-page {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  opacity: 0.8; }

.tracking-reach {
  color: grey;
  font-weight: bold; }

.tracking-text {
  font-weight: bold; }

@media screen and (max-width: 320px) {
  .tracking-page {
    height: 585px; }
  .tracking-text-container {
    padding: 5%; }
  .tracking-reach {
    font-size: 4vw;
    text-align: center;
    font-weight: bold; }
  .tracking-text {
    font-size: 8vw;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 270px;
    margin-left: 0px;
    text-align: center;
    font-weight: bold; }
  .customer-check i {
    font-size: 20px; }
  .customer-check div {
    font-weight: bold;
    margin-left: 3vw;
    font-size: 3.5vw; } }

@media screen and (min-width: 321px) and (max-width: 480px) {
  .tracking-page {
    height: 668px; }
  .tracking-text-container {
    padding: 5%; }
  .tracking-reach {
    font-size: 4vw;
    text-align: center;
    font-weight: bold; }
  .tracking-text {
    font-size: 8vw;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 350px;
    margin-left: 0px;
    font-weight: bold; }
  .customer-check i {
    font-size: 5vw; }
  .customer-check div {
    font-weight: bold;
    margin-left: 3vw;
    font-size: 3.5vw; } }

@media screen and (min-width: 568px) and (max-width: 768px) {
  .tracking-page {
    height: 414px; }
  .tracking-text-container {
    padding: 5%; }
  .tracking-reach {
    font-size: 2.25vw;
    text-align: left; }
  .tracking-text {
    font-size: 4.25vw;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    text-align: left; }
  .customer-check i {
    font-size: 20px; }
  .customer-check div {
    font-weight: bold;
    margin-left: 3vw;
    font-size: 2.25vw; } }

@media screen and (min-width: 769px) and (max-width: 812px) {
  .tracking-page {
    height: 455px; }
  .tracking-text-container {
    padding: 5%; }
  .tracking-reach {
    font-size: 2.25vw;
    text-align: left; }
  .tracking-text {
    font-size: 4.25vw;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    text-align: left; }
  .customer-check i {
    font-size: 25px; }
  .customer-check div {
    font-weight: bold;
    margin-left: 3vw;
    font-size: 2.25vw; } }

@media screen and (min-width: 813px) {
  .tracking-page {
    height: 985px; }
  .tracking-text-container {
    padding: 10%; }
  .tracking-reach {
    font-size: 2vw;
    text-align: left; }
  .tracking-text {
    font-size: 4.5vw;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    text-align: left; }
  .customer-check i {
    font-size: 3.25vw; }
  .customer-check div {
    font-weight: bold;
    margin-left: 3vw;
    font-size: 2vw; } }

/* code that is here will apply to any screen size */
.request-page {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  opacity: 0.8; }

.request-header {
  font-weight: bold;
  margin-bottom: 0; }

.request-text-container {
  padding: 5%; }

.request-form-container label {
  font-weight: 300;
  color: black; }

@media screen and (max-width: 320px) {
  .request-page {
    height: 585px; }
  .request-header {
    font-size: 7.5vw; }
  .request-form-container label {
    font-size: 5vw; } }

@media screen and (min-width: 321px) and (max-width: 480px) {
  .request-page {
    height: 668px; }
  .request-header {
    font-size: 7.5vw; }
  .request-form-container label {
    font-size: 5vw; } }

@media screen and (min-width: 568px) and (max-width: 768px) {
  .request-page {
    height: 550px; }
  .request-header {
    font-size: 5vw; }
  .request-form-container label {
    font-size: 3vw; } }

@media screen and (min-width: 569px) and (max-width: 812px) {
  .request-page {
    height: 575px; }
  .request-header {
    font-size: 5vw; }
  .request-form-container label {
    font-size: 3vw; } }

@media screen and (min-width: 813px) {
  .request-page {
    height: 985px; }
  .request-header {
    font-size: 5.5vw; }
  .request-form-container label {
    font-size: 3vw; } }

/* code that is here will apply to any screen size */

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJzdHlsZXMuY3NzIiwic291cmNlUm9vdCI6IiJ9*/