.customer-page {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  overflow-x: hidden;
}

.customer-acquire {
  font-weight: bold;
}

.customer-reach {
  color: grey;
}

@media screen and (max-width: 320px) {
  .customer-page {
    height: 585px;
  }

  .customer-text-container {
    padding: 5%;
  }

  .customer-reach {
    font-size: 4vw;
    text-align: center;
  }

  .customer-acquire {
    font-size: 8vw;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    margin-left: 0px;
    text-align: center;
  }

  .customer-check i {
    font-size: 20px;
  }

  div {
    font-weight: bold;
    margin-left: 3vw;
    font-size: 3.5vw;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  .customer-page {
    height: 667px;
  }

  .customer-text-container {
    padding: 5%;
  }

  .customer-reach {
    font-size: 5vw;
    width: 400px;
    text-align: left;
  }

  .customer-acquire {
    font-size: 8vw;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
    margin-left: 0px;
    text-align: left;
  }

  .customer-check i {
    font-size: 25px;
  }

  div {
    font-weight: bold;
    margin-left: 3vw;
    font-size: 4vw;
  }
}

@media screen and (max-width: 700px) {
  .order-online-image {
    display: none
  }
}

@media screen and (min-width: 701px) {

  .customer-acquire {
    font-size: 5vw;
    text-align: center;
  }
  .customer-page {
    height: 985px;
  }

  .customer-reach {
    font-size: 2vw;
    text-align: center;
  }

  .customer-text-container {
    padding: 10%;
  }

  .customer-check {
    i {
      font-size: 3.5vw;
    }

    div {
      margin-left: 3vw;
      font-size: 2vw;
    }
  }

  .order-online-image {
    width: 550px;
    top: 425px;
    right: 150px;
    position: absolute;
  }
}

/* code that is here will apply to any screen size */
