.customer-page {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  margin: 0;
  overflow-x: hidden;
}

.customer-acquire {
  font-weight: bold;
  text-align: center;
}

.customer-reach {
  text-align: center;
  color: grey;
}

@media screen and (max-width: 320px) {
  .customer-page {
    height: 450px;
  }

  .customer-text-container {
    padding: 5%;
  }

  .customer-reach {
    font-size: 4vw;
  }

  .customer-acquire {
    font-size: 7vw
  }

  div {
    font-weight: bold;
    margin-left: 3vw;
    text-align: center;
    font-size: 3.5vw;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  .customer-acquire {
    font-size: 7vw
  }

  .customer-text-container {
    padding: 5%;
  }

  .customer-reach {
    font-size: 4vw;
  }

  .customer-page {
    height: 450px;
  }

  .customer-check {
    i {
      font-size: 5vw;
    }

    div {
      font-weight: bold;
      margin-left: 3vw;
      text-align: center;
      font-size: 3.5vw;
    }
  }
}

@media screen and (max-width: 700px) {
  .order-online-image {
    display: none
  }
}
@media screen and (min-width: 700px) {

  .customer-acquire {
    font-size: 5vw
  }
  .customer-page {
    height: 985px;
  }

  .customer-reach {
    font-size: 2vw;
  }

  .customer-text-container {
    padding: 10%;
  }

  .customer-check {
    i {
      font-size: 3.5vw;
    }

    div {
      margin-left: 3vw;
      text-align: center;
      font-size: 2vw;
    }
  }

  .order-online-image {
    width: 500px;
    top: 350px;
    right: 40px;
    position: absolute;
  }
}

/* code that is here will apply to any screen size */
