.customer-page {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  overflow-x: hidden;
}

.customer-reach {
  color: #464646;
  font-family: 'Lato', sans-serif;
}

.customer-acquire {
  font-family: 'Montserrat', sans-serif;
}

.customer-check {
  span {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
  }
}

@media screen and (max-width: 320px) {

  .order-online-image {
    display: none
  }

  .customer-page {
    height: 585px;
  }

  .customer-text-container {
    padding: 5%;
  }

  .customer-reach {
    font-size: 4vw;
    text-align: center;
  }

  .customer-acquire {
    font-size: 7vw;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    margin-left: 0px;
    text-align: center;
  }

  .customer-check {
    i {
      font-size: 20px;
    }
    div {
      margin-left: 3vw;
      font-size: 3.5vw;
    }
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {

  .order-online-image {
    display: none
  }

  .customer-page {
    height: 668px;
  }

  .customer-text-container {
    padding: 5%;
  }

  .customer-reach {
    font-size: 4vw;
    text-align: center;
    margin-left: 40px;
  }

  .customer-acquire {
    font-size: 7.5vw;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 350px;
    margin-left: 0px;
  }

  .customer-check {
    i {
      font-size: 5vw;
    }

    div {
      margin-left: 3vw;
      font-size: 3.5vw;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

  .order-online-image {
    display: none
  }

  .customer-page {
    height: 435px;
  }

  .customer-text-container {
    padding: 5%;
  }

  .customer-reach {
    font-size: 2.25vw;
    text-align: center;
    margin-right: 160px;
  }

  .customer-acquire {
    font-size: 4.25vw;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    text-align: left;
  }

  .customer-check {
    i {
      font-size: 20px;
    }
    div {
      margin-left: 3vw;
      font-size: 2.25vw;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 812px) {

  .order-online-image {
    display: none
  }

  .customer-page {
    height: 475px;
  }

  .customer-text-container {
    padding: 5%;
  }

  .customer-reach {
    font-size: 2.25vw;
    text-align: left;
  }

  .customer-acquire {
    font-size: 4.25vw;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    text-align: left;
  }

  .customer-check {
    i {
      font-size: 25px;
    }
    div {
      margin-left: 3vw;
      font-size: 2.25vw;
    }
  }
}

@media screen and (min-width: 813px) {

  .order-online-image {
    width: 45vw;
    top: 400px;
    right: 2vw;
    position: absolute;
  }

  .customer-page {
    height: 985px;
  }

  .customer-text-container {
    padding: 10%;
  }

  .customer-reach {
    font-size: 2vw;
    text-align: center;
  }

  .customer-acquire {
    font-size: 4.8vw;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    text-align: left;
  }

  .customer-check {
    i {
      font-size: 3.25vw;
    }
    div {
      margin-left: 3vw;
    }
    span {
      font-size: 1.75vw;
    }
  }
}
