.loyalty-page {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  opacity: 0.8;
  overflow-x: hidden;
}

.loyalty-reach {
  color: grey;
  font-weight: bold;
}

.loyalty-text {
  font-weight: bold;
}

@media screen and (max-width: 320px) {

  .loyalty-image {
    display: none;
  }

  .loyalty-page {
    height: 585px;
  }

  .loyalty-text-container {
    padding: 5%;
  }

  .loyalty-reach {
    font-size: 4vw;
    text-align: center;
    font-weight: bold;
  }

  .loyalty-text {
    font-size: 8vw;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
    margin-left: 0px;
    padding-right: 20px;
    text-align: center;
    font-weight: bold;
  }

  .customer-check i {
    font-size: 20px;
  }

  div {
    font-weight: bold;
    margin-left: 3vw;
    font-size: 3.5vw;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {

  .loyalty-image {
    display: none;
  }

  .loyalty-page {
    height: 668px;
  }

  .loyalty-text-container {
    padding: 5%;
  }

  .loyalty-reach {
    font-size: 4vw;
    text-align: center;
    font-weight: bold;
  }

  .loyalty-text {
    font-size: 8vw;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-weight: bold;
  }

  .customer-check {
    i {
      font-size: 5vw;
    }

    div {
      font-weight: bold;
      margin-left: 3vw;
      font-size: 3.5vw;
    }
  }
}

@media screen and (min-width: 568px) and (max-width: 768px) {

  .loyalty-image {
    display: none;
  }

  .loyalty-page {
    height: 445px;
  }

  .loyalty-text-container {
    padding: 5%;
  }

  .loyalty-reach {
    font-size: 2.25vw;
    width: 260px;
    text-align: left;
  }

  .loyalty-text {
    font-size: 4.25vw;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    text-align: left;
  }

  .customer-check {
    i {
      font-size: 20px;
    }
    div {
      font-weight: bold;
      margin-left: 3vw;
      font-size: 2.25vw;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 812px) {

  .loyalty-image {
    display: none;
  }

  .loyalty-page {
    height: 485px;
  }

  .loyalty-text-container {
    padding: 5%;
  }

  .loyalty-reach {
    font-size: 2.25vw;
    width: 300px;
    padding-right: 20px;
    text-align: left;
  }

  .loyalty-text {
    font-size: 4.25vw;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    text-align: left;
  }

  .customer-check {
    i {
      font-size: 25px;
    }
    div {
      font-weight: bold;
      margin-left: 3vw;
      font-size: 2.25vw;
    }
  }
}

@media screen and (min-width: 813px) {

  .loyalty-image {
    position: absolute;
    height: 600px;
    bottom: 0;
  }

  .loyalty-page {
    height: 985px;
  }

  .loyalty-text-container {
    padding: 10%;
  }

  .loyalty-reach {
    font-size: 2vw;
    text-align: left;
  }

  .loyalty-text {
    font-size: 5vw;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    text-align: left;
  }

  .customer-check {
    i {
      font-size: 3.25vw;
    }
    div {
      font-weight: bold;
      margin-left: 3vw;
      font-size: 2vw;
    }
  }
}

/* code that is here will apply to any screen size */
