.introduction-page {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.col {
  padding: 0 !important;
}

.intro-providing-text {
  text-align: center;
  font-weight: bold;
}

.intro-fast-text {
  text-align: center;
  font-weight: bold;
  color: grey;
}

@media screen and (max-width: 320px) {

  .intro-image {
    width: 13vw;
    padding-top: 10px;
  }

  .introduction-page {
    height: 585px;
  }

  .header-text {
    font-size: 3.5vw;
  }

  .intro-providing-text {
    font-size: 6vw;
  }

  .intro-fast-text {
    font-size: 4.5vw;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {

  .intro-image {
    width: 13vw;
    padding-top: 10px;
  }

  .introduction-page {
    height: 667px;
  }

  .header-text {
    font-size: 3.5vw;
  }

  .intro-providing-text {
    font-size: 6vw;
  }

  .intro-fast-text {
    font-size: 4.5vw;
  }
}

@media screen and (min-width: 568px) and (max-width: 768px) {

  .intro-image {
    width: 7vw;
    padding-top: 10px;
  }

  .introduction-page {
    height: 414px;
  }

  .header-text {
    font-size: 2.5vw;
  }

  .intro-providing-text {
    font-size: 4.25vw;
  }

  .intro-fast-text {
    font-size: 2.25vw;
  }
}

@media screen and (min-width: 769px) and (max-width: 812px) {

  .intro-image {
    width: 7vw;
    padding-top: 10px;
  }

  .introduction-page {
    height: 414px;
  }

  .header-text {
    font-size: 2.5vw;
  }

  .intro-providing-text {
    font-size: 4.25vw;
  }

  .intro-fast-text {
    font-size: 2.25vw;
  }
}

@media screen and (min-width: 813px) {

  .intro-image {
    width: 7vw;
    padding-top: 10px;
  }

  .introduction-page {
    height: 985px;
  }

  .header-text {
    font-size: 2.5vw;
  }

  .intro-providing-text {
    font-size: 4.25vw;
  }

  .intro-fast-text {
    font-size: 2.25vw;
  }
}
