.tracking-page {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.tracking-reach {
  color: grey;
  font-weight: bold;
}

.tracking-text {
  font-weight: bold;
}

@media screen and (max-width: 320px) {

  .tracking-page {
    height: 585px;
  }

  .tracking-text-container {
    padding: 5%;
  }

  .tracking-reach {
    font-size: 4vw;
    text-align: center;
    font-weight: bold;
  }

  .tracking-text {
    font-size: 8vw;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 270px;
    margin-left: 0px;
    text-align: center;
    font-weight: bold;
  }

  .customer-check {
    i {
      font-size: 20px;
    }
    div {
      font-weight: bold;
      margin-left: 3vw;
      font-size: 3.5vw;
    }
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {

  .tracking-page {
    height: 668px;
  }

  .tracking-text-container {
    padding: 5%;
  }

  .tracking-reach {
    font-size: 4vw;
    text-align: center;
    font-weight: bold;
  }

  .tracking-text {
    font-size: 8vw;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 350px;
    margin-left: 0px;
    font-weight: bold;
  }

  .customer-check {
    i {
      font-size: 5vw;
    }

    div {
      font-weight: bold;
      margin-left: 3vw;
      font-size: 3.5vw;
    }
  }
}

@media screen and (min-width: 568px) and (max-width: 768px) {

  .tracking-page {
    height: 414px;
  }

  .tracking-text-container {
    padding: 5%;
    padding-top: 10%;
  }

  .tracking-reach {
    font-size: 2.25vw;
    text-align: left;
  }

  .tracking-text {
    font-size: 4.25vw;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    text-align: left;
  }

  .customer-check {
    i {
      font-size: 20px;
    }
    div {
      font-weight: bold;
      margin-left: 3vw;
      font-size: 2.25vw;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 812px) {

  .tracking-page {
    height: 455px;
  }

  .tracking-text-container {
    padding: 5%;
    padding-top: 10%;
  }

  .tracking-reach {
    font-size: 2.25vw;
    text-align: left;
  }

  .tracking-text {
    font-size: 4.25vw;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    text-align: left;
  }

  .customer-check {
    i {
      font-size: 25px;
    }
    div {
      font-weight: bold;
      margin-left: 3vw;
      font-size: 2.25vw;
    }
  }
}

@media screen and (min-width: 813px) {

  .tracking-page {
    height: 985px;
  }

  .tracking-text-container {
    padding: 10%;
    padding-top: 20%;
  }

  .tracking-reach {
    font-size: 2vw;
    text-align: left;
  }

  .tracking-text {
    font-size: 4.5vw;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    text-align: left;
  }

  .customer-check {
    i {
      font-size: 3.25vw;
    }
    div {
      font-weight: bold;
      margin-left: 3vw;
      font-size: 2vw;
    }
  }
}

/* code that is here will apply to any screen size */
