.tracking-page {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  opacity: 0.8;
}

.tracking-text {
  margin-bottom: 0;
}

.tracking-reach {
  text-align: center;
  color: grey;
}

@media screen and (max-width: 320px) {

  .tracking-page {
    height: 585px;
    opacity: 0.8;
  }

  .tracking-text-container {
    padding: 5%;
  }

  .tracking-reach {
    font-size: 4vw;
    width: 200px;
  }

  .tracking-text {
    font-size: 8vw;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 270px;
    margin-left: 0px;
    text-align: center;
  }

  .customer-check i {
    font-size: 20px;
  }

  div {
    font-weight: bold;
    margin-left: 3vw;
    font-size: 3.5vw;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {

  .tracking-page {
    background-color: #F5F5F5;
    height: 668px;
    opacity: 0.8;
  }

  .tracking-text-container {
    padding: 5%;
  }

  .tracking-text {
    font-size: 7.5vw;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px;
    margin-left: 0px;
    text-align: left;
  }

  .tracking-reach {
    font-size: 5vw;
    width: 300px;
  }

  .customer-check i {
    font-size: 25px;
  }

  div {
    font-weight: bold;
    margin-left: 3vw;
    font-size: 4vw;
  }
}

@media screen and (max-width: 600px) {
  .tracking-page {
    background-color: #F5F5F5;
  }

  .tracking-text-container {
    padding: 5%;
  }

  .tracking-text {
    font-size: 7.5vw;
    text-align: center;
  }

  .tracking-reach {
    font-size: 5vw;
  }
}

@media screen and (min-width: 601px) {
  .tracking-page {
    height: 980px;
  }

  .tracking-text-container {
    padding: 10%;
  }

  .tracking-text {
    font-size: 4.5vw;
    text-align: center;
  }

  .tracking-reach {
    font-size: 2vw;
  }

  .customer-check {
    i {
      font-size: 3.5vw;
    }

    div {
      margin-left: 3vw;
      font-size: 2vw;
    }
  }
}

/* code that is here will apply to any screen size */
